.details .show-img img{
    border-radius: 5px;
    overflow: hidden;
    width: 110%;
    height: 95% !important;
}


.data{
    color: #EEEEEE;
}

.data p{
    font-size: 20px;
}

.data p span{
    font-weight: 600;
    color: #ff023dc9;
}

@media (max-width:450px) {
    .details-container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .details{
        padding: 0 !important;
    }
    
}